.b{
  margin-left: 11px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.singinc {
  text-align: center;
}
.profileimg{
  background-size: cover;
  border-radius:50%;
  overflow: hidden;
  background-position: center center;
  /* background-position: top center; */
  object-fit: cover;
  width: 9.5rem;
  height: 9.5rem;
}
.profileimg2{
  background-size: cover;
  border-radius:50%;
  overflow: hidden;
  background-position: center center;
  /* background-position: top center; */
  object-fit: cover;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}
@media (max-width:800px) {
  div#optionalstuff {
    display: none;
  }
}
@media (min-width:800px) {
  div#optionalstuff2 {
    display: none;
  }
}
@media (max-width:800px) {
  div#footername {
    display: none;
  }
}
@media (max-width:800px) {
  img#footerimg {
    display: none;
  }
}
@media (max-width:800px) {
  div#signUpcard {
    margin-bottom: 5rem;
  }
}
@media (max-width:800px) {
  div#footer {
    position:relative;
  }
}


::selection { background-color: #C3CFE2; }

.titleText {
	background: linear-gradient(to right, #b118a9 0%, #5a00c0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
	};
}
.nav-menu{
  display:'flex';
}
.navbarz{
  display:'flex';
  position: sticky;
  top: 0;
  z-index: 1;
}
.footer{
  display:inline-flex;
  padding: 0.7rem;
  color:white;
  background-color: rgb(12, 12, 12);
  position:fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}
.links {
  color: #bdbdbd;
}
.links:hover {
  color: white;
}
.links2 {
  color: #454545;
}
.links2:hover {
  color: #9d9d9d;
}
.sortbar {
  color:red;
}
.sortbar:hover {
  background-color: blue;
  color:red;
}
.bi-heart:hover {
  color:#804FB3;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   .home-card{
     max-width: 500px;
     height: max-content;
     margin: 25px auto;

   }